*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.screen {
  -webkit-user-select: none;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(236, 236, 236, 0.397);
  padding: 0px 0px;
  min-height:100vh;
}

.screen-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.screen-middle {
  /* display: flex; */
  margin-top:30vh;
  margin-left:10vw;
  min-height: 90vh;
}
